@if(Application == null)
{//deleted
    return;
}
<div class="col col-12 mt-2" @onclick="OpenModal">
    <div class="item d-flex align-items-center">
        <div class="image">
            <img src="@Application.Image" class="img-fluid rounded-circle">
        </div>
        <div class="text">
            <h3 class="h5">@Application.Name</h3>
            <small>@Application.Path </small>
        </div>
    </div>
</div>

<Tech.Aerove.AeroInjector.Gui.Components.DarkModal Id="@ModalId" Title="Edit Application" ButtonName="Save" ButtonPressed="UpdateApplication" Button2Name="Remove" Button2Pressed="DeleteApplication">
    <div class="form-group">
        <label class="form-label">Application Name</label>
        <input type="text" class="form-control" @bind="Application.Name" />
    </div>
    <div class="form-group mt-2">
        <label class="form-label">Application Path</label>
        <input type="text" class="form-control" style="cursor:pointer;" id="app-file-pick" value="@Application.Path" @onclick="PickApplication" />
    </div>
</Tech.Aerove.AeroInjector.Gui.Components.DarkModal>